body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.footer {
    background-color: black;
    color: white;
    padding: 80px;
}

.footer .contact {
    text-align: center;
    padding-bottom: 65px;
}

.footer .social {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.footer .copyright {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 350px;
    margin-top: -130px;
    object-fit: cover;
}
.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background-color: #f8f9fa;
    border-radius: 0px 60px 0px 0px;
}

.sub-section-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    /*height: 500px;*/
    height: 300px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    background-color: white;
}

.service-card {
    width: 300px;
    /*height: 500px;*/
    height: 300px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.service-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.tools-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container {
    display: inline-block;
    margin: 0 40px 40px 40px;
}

.tools-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFF;
    box-shadow: 0 30px 40px 0 rgb(212 217 232 / 20%);
    border-radius: 16px;
    margin: 10px;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card {
        flex: 50%;
    }
    
    .service-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-card {
        flex: auto;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.service-image {
    margin-top: 10px;
    width: 200px;
}

.tools-image {
    margin: 10px;
    width: 200px;
    height: 75px;
    object-fit: cover;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

.vertical-center {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: medium;
    background-color: #000;
}

.more:hover {
    background-color: #383838;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}


/* contact form */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: #ef744b;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 8px;
    right:16px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('images/bg.png') no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
    border-radius: 8px;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    position: relative;
    border-radius: 8px;
}

.left{
	background: url('images/bg.png') no-repeat center;
    border-radius: 8px;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.contact-h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ef744b;
    ;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #e67049;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #f19d80;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}